/*fonts*/
$primaryFonts: 'PT Sans', sans-serif;
$secondFonts: 'Post No Bills Jaffna', sans-serif;
$thirdFonts: 'Playfair Display', sans-serif;


/*color*/
$firstColor: #000;
$secondColor: #fff;
$thirdColor: #0f0f0f;


/*breakpoints*/
$xs: 0;
$sm: 576px;
$md: 769px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;